.add-btn{
    --background: #2DD36F;
    --background-activated: #26b15d;
    --color: white;
    cursor: pointer;
}

.table-dark{
    width: 75%;
    margin: auto;
    padding: 15px;
    height: auto;
}